@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Ubuntu:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --dark-background: #18191a;
    --dark-area: #242526;
    --dark-input: #3A3B3C; 
    --gray-text: #e4e6eb;
    --gray-subtext: #b0b3b8;
    --gray-border: #3e4042;
}
body, aside, section{
    background-color: var(--dark-background);
}
/* Colors */
.bg-lightblue{background-color: #1AA6B7;}
.text-lightblue{color: #1AA6B7;}
.border-lightblue{border-color: #1AA6B7;}
.hover\:bg-lightblue:hover{background-color: #1AA6B7;}
.hover\:text-lightblue:hover{color: #1AA6B7;}

/* Text */
.text-gray{color: var(--gray-text);}
.subtext-gray{color: var(--gray-subtext);}
/* Background */
.bg-dark-area{background-color: var(--dark-area);}
.bg-gray{background-color: var(--gray-text);}
.bg-input{background-color: var(--dark-input);}
/* Border */
.border-gray{border-color: var(--gray-border);}

/* Fonts */
.roboto, h1, h2, h3, h4{font-family: 'Roboto', sans-serif;}
.ubuntu, a, li, p, button{font-family: 'Ubuntu', sans-serif;}

@media (max-width: 1280px){
    section.container{
        width: 100% !important;
    }
}

#message_area::-webkit-scrollbar {width: 8px;height: 8px; display: none;}
#message_area::-webkit-scrollbar-thumb {background: #ccc;border-radius: 4px;}
#message_area::-webkit-scrollbar-thumb:hover {background: #b3b3b3;box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);}
#message_area::-webkit-scrollbar-thumb:active {background-color: #999999;}
#message_area::-webkit-scrollbar-track {background: #e1e1e1;border-radius: 4px;}
#message_area::-webkit-scrollbar-track:hover,
#message_area::-webkit-scrollbar-track:active {background: #d4d4d4;}

aside ::-webkit-scrollbar {width: 6px;height: 6px;}
aside ::-webkit-scrollbar-thumb {background: #ccc;}
aside ::-webkit-scrollbar-thumb:hover {background: #b3b3b3;box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);}
aside ::-webkit-scrollbar-thumb:active {background-color: #999999;}
aside ::-webkit-scrollbar-track {background: #e1e1e1;border-radius: 4px;}
aside ::-webkit-scrollbar-track:hover,
aside ::-webkit-scrollbar-track:active {background: #d4d4d4;}

.bg-image{
    background-image: url('assets/space.jpg');
    background-position: center;
    background-size: cover;
}